//   ============================================================ footer ============================================================  
footer {
    grid-column: span 2;
    padding: 30px;
    padding-left: 0px;
    text-align: right;
    font-size: 0.8em;
    vertical-align: middle;
}


