  //   ============================================================ item ============================================================
  
  .item {
    align-content: space-between;
    align-items: center;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-align: center;
    -ms-flex-line-pack: justify;
  }
  
  .item .action {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  
  .item .action .price {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff;
    display: inline-block;
    line-height: 1rem;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 0.9rem;
    height: 2rem;
    padding: 0.45rem 0.6rem;
    background: transparent;
    border-color: transparent;
    color: var(--primary);
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }
  
  .item video {
    margin: 0.4rem 0.4rem 0.4rem 0.2rem;
    border-radius: 4px;
    max-width: 30px;
  }
  
  .item .content {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  
  .item .title {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-margin-before: 0px;
    line-height: 1rem;
    font-size: 0.9rem;
  }
  
  .item .sold-out {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-margin-before: 0px;
    line-height: 1rem;
    font-size: 0.9rem;
    color: var(--red-color);
  }
  
  .item.item-centered .title,
  .item.item-centered .item-subtitle {
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

