.button {
    margin: 0 1em;
    padding: 0.25em 1em;
    background: transparent;
    border-radius: 5px;
    border: 2px solid royalblue;
    color: royalblue;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.loading {
    border: 2px solid grey;
    color: grey;
}