:root {
    --primary: #021d49;
    --primary-alpha: rgba(2, 29, 73, 0.5);
    --secondary: rgb(255, 102, 97);
    --secondary-alpha: rgba(0, 255, 126, 0.5);
    --gray: #f6f6f6;
    --gray-alpha: rgba(246, 246, 246, 0.9);
    --black-color: #222223;
    --red-color: #ff4d4f;
}



